[submodule "sem_02/c-programming"]
	path = sem_02/c-programming
	url = https://github.com/bmstu-ics7/c-programming.git
[submodule "sem_03/c-programming"]
	path = sem_03/c-programming
	url = https://github.com/bmstu-ics7/c-programming.git
[submodule "sem_03/data-types-and-structures"]
	path = sem_03/data-types-and-structures
	url = https://github.com/bmstu-ics7/data-types-and-structures
[submodule "sem_04/computational-algorithms"]
	path = sem_04/computational-algorithms
	url = https://github.com/bmstu-ics7/computational-algorithms
[submodule "sem_04/object-oriented-programming"]
	path = sem_04/object-oriented-programming
	url = https://github.com/bmstu-ics7/object-oriented-programming
[submodule "sem_04/computer-graphics"]
	path = sem_04/computer-graphics
	url = https://github.com/bmstu-ics7/computer-graphics
[submodule "sem_05/data-bases"]
	path = sem_05/data-bases
	url = https://github.com/bmstu-ics7/data-bases
[submodule "sem_05/analysis-of-algorithms"]
	path = sem_05/analysis-of-algorithms
	url = https://github.com/bmstu-ics7/analysis-of-algorithms
[submodule "sem_05/coursework-computer-graphics"]
	path = sem_05/coursework-computer-graphics
	url = https://github.com/bmstu-ics7/coursework-computer-graphics
[submodule "sem_05/operating-systems"]
	path = sem_05/operating-systems
	url = https://github.com/bmstu-ics7/operating-systems
[submodule "sem_06/operating-systems"]
	path = sem_06/operating-systems
	url = https://github.com/bmstu-ics7/operating-systems
[submodule "sem_06/modeling"]
	path = sem_06/modeling
	url = https://github.com/bmstu-ics7/modeling
[submodule "sem_07/modeling"]
	path = sem_07/modeling
	url = https://github.com/bmstu-ics7/modeling
[submodule "sem_06/mathematical-statistics"]
	path = sem_06/mathematical-statistics
	url = https://github.com/bmstu-ics7/mathematical-statistics
